<div class="container">
	<div class="row pt-4">
		<div class="col-12 pt-4 border-bottom">
			<h3>Учебное видео</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 1</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__01.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 2</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__02.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 3</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__03.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 4</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__04.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 5</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__05.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 6</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__06.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 7</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_155712__07.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 8</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__08.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 9</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__09.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 10</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__10.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 11</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__11.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 12</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__12.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 13</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__13.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<div class="row pt-4">
						<div class="col-12">
							<h5 class="text-primary">Видео № 14</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<video width="400" height="250" controls="controls" poster="/video/video.jpg" preload="metadata">
								<source src="/video/Video_2019-01-28_165146__14.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row py-4">
		<div class="col py-4"></div>
	</div>
</div>