<div class="container">
	<p style="padding: 50px"></p>
	<h5 class="text-center">
		ВЕБ-ПОРТАЛ ИНФОРМАЦИОННОГО ВЗАИМОДЕЙСТВИЯ
		МЕЖДУ ТФОМС, МО И СМО ПРИ ОСУЩЕСТВЛЕНИИ
		ПЕРСОНИФИЦИРОВАННОГО УЧЕТА ОКАЗАННОЙ МЕДИЦИНСКОЙ ПОМОЩИ
		В ФОРМАТЕ XML


		<br>
		<span>
			<small class="pt-2 text-secondary">
				Заполнение сведений об оказанной медицинской помощи при подозрении на злокачественное новообразование 
				<br>или установленном диагнозе злокачественного новообразования
			</small>
		</span>
		
	</h5>
	<div class="row py-4 text-center">
		<div class="col"></div>
		<div class="col-2">
			<a href="/d4"
			        class="btn btn-primary btn-block">
				Форма D4        	
			</a>
		</div>
		<div class="col-2">
			<a href="/help"
			        class="btn btn-primary btn-block">
				Справка        	
			</a>
		</div>
		<div class="col"></div>
	</div>
</div>
